@import "tailwindcss";

/* Global theme variables */
:root {
  --color-primary: #1d7d5e;
  --color-background: #ebfcfc;
}

/* Base styles */
@layer base {
  body {
    background-color: var(--color-background);
  }
}